<div class="row">
    <div class="large-4 medium-4 columns">
        <div class="callout panel">
            <h3>System section</h3>
        </div>
        <div class="row">
            {{#each directory}}
                <div class="large-4 medium-4 columns">
                    <a href="/Roms/{{this}}" class="radius button">{{this}}</a>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="large-8 medium-8 columns">
        <div class="callout panel">
            <h3>{{sltPath}} section</h3>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <table>
                        <thead>
                        <tr>
                            <th>Game</th>
                            <th>Trash it</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each  files}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td><a href="/Roms/delete/{{this.section}}/{{this.name}}" class="item"><i class="fi-trash"></i> </a> </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>